

<%= title "Im치gen en la ficha '#{@slide.card.title}'" %>

<div class="actions">
  <%= link_to 'volver a la ficha', [:admin, @slide.card] %>
  <%= link_to 'editar', [:edit, :admin, @slide] %>
</div>

<%= div_for @slide do %>

    <ul>
      <li><label>Posici칩n:</label> <%= @slide.pos %></li>
      <li><label>Texto:</label> <%= @slide.text %></li>
      <li><label>Fecha:</label> <%= @slide.date %></li>
      <li><label>Tipo:</label> <%= @slide.image.content_type %></li>
      <li><label>Ancho:</label> <%= @slide.image.width %>px</li>
      <li><label>Alto:</label> <%= @slide.image.height %>px</li>
      <li><label>Tama침o:</label> <%= number_to_human_size @slide.image.size %></li>
    </ul>
    <div class="thumb">
      <h2>Miniatura</h2>
      <%= image_tag @slide.image.filename.url(:thumb) %>
      <p><%= @slide.image.filename.url(:thumb) %></p>
      <br/>
    </div>
    <div class="main">
      <h2>Im치gen</h2>
      <%= image_tag @slide.image.filename.url %>
      <p><%= @slide.image.filename.url %></p>
    </div>
<% end %>