
<table>
  <thead>
  <tr>
    <%= content_tag(:th, '') if @columns.include?(:thumb) %>
    <%= content_tag(:th, 'Posición') if @columns.include?(:position) %>
    <%= content_tag(:th, 'Fecha') if @columns.include?(:date) %>
    <%= content_tag(:th, 'Extra') if @columns.include?(:extra) %>
    <%= content_tag(:th, 'Texto') if @columns.include?(:text) %>
    <%= content_tag(:th, 'Contenido') if @columns.include?(:body) %>
    <%= content_tag(:th, '') %>
  </tr>
  </thead>
  <tbody>
  <% resources.each do |pan| %>
      <tr>
        <% if @columns.include?(:thumb) %>
            <td><%= link_to image_tag(pan.file.url(:thumb)), pan.file.url if pan.file.present? %></td>
        <% end %>
        <% if @columns.include?(:position) %>
            <td><%= pan.position %></td>
        <% end %>
        <%= content_tag(:td, pan.date) if @columns.include?(:date) %>
        <%= content_tag(:td, pan.extra) if @columns.include?(:extra) %>
        <%= content_tag(:td, pan.text) if @columns.include?(:text) %>
        <%= content_tag(:td, render_body(pan)) if @columns.include?(:body) %>
        <td class="actions">
          <%= link_to 'Ver', [:admin, pan] %>
          <%= link_to 'Editar', [:edit, :admin, pan] %>
          <%= link_to 'Borrar', [:admin, pan] %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
