<table>
  <thead>
  <tr>
    <%= content_tag(:th, '') if @columns.include?(:thumb) %>
    <%= content_tag(:th, 'Ficha') if @columns.include?(:card) %>
    <%= content_tag(:th, 'Posición') if @columns.include?(:position) %>
    <%= content_tag(:th, 'Fecha') if @columns.include?(:date) %>
    <%= content_tag(:th, 'Extra') if @columns.include?(:extra) %>
    <%= content_tag(:th, 'Texto') if @columns.include?(:text) %>
    <%= content_tag(:th, 'Contenido') if @columns.include?(:body) %>
    <%= content_tag(:th, '') %>
  </tr>
  </thead>
  <tbody>
  <% resources.each do |pan| %>
      <tr>
        <% if @columns.include?(:thumb) %>
            <td><%= link_to image_tag(pan.file.url(:thumb)), [:admin, card, pan].compact if pan.file.present? %></td>
        <% end %>
        <%= content_tag(:td, link_to(pan.card.title, [:admin, pan.card])) if @columns.include?(:card) %>
        <% if @columns.include?(:position) %>
            <td><%= pan.position %></td>
        <% end %>
        <%= content_tag(:td, pan.date) if @columns.include?(:date) %>
        <%= content_tag(:td, pan.extra_human_name) if @columns.include?(:extra) %>
        <%= content_tag(:td, pan.text) if @columns.include?(:text) %>
        <%= content_tag(:td, render_body(pan)) if @columns.include?(:body) %>
        <td class="actions">
          <%= link_to 'Ver', [:admin, card, pan].compact %>
          <%= link_to 'Editar', [:edit, :admin, card, pan].compact %>
          <%= link_to 'Borrar', [:admin, card, pan].compact, class: 'delete', method: :delete,
                      confirm: '¿Estás segura? No se puede deshacer' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
