<div class="actions">
  <%=  link_to 'Cancelar', admin_card_pan_files_path(card) %>
</div>

<%= simple_form_for [:admin, card, pan_file] do |form| %>
    <%= form.input :text %>
    <%= form.input :file %>
    <% if pan_file.file.present? %>
        <div class="info" style="margin-top: 10px;">
          Fichero actual: <%= link_to pan_file.file, pan_file.file.url %>
        </div>
    <% end %>
    <%= form.submit 'Guardar' %>
<% end %>