<%= simple_form_for [:admin, card, slide_image] do |form| %>
    <%= form.input :card_id, as: :hidden %>
    <% if resource.file.present? %>
        <div class="current_image">
          <label>Imágen actual:</label>
          <%= image_tag resource.file.url, width: resource.width, height: resource.height %>
          <div class="hint">Puedes sustituir ésta imágen por otra en con el campo de abajo</div>
        </div>
    <% end %>
    <%= form.input :file, as: :file, label: 'Imágen' %>
    <%= form.input :body, as: :text, label: 'Texto' %>
    <%= form.submit 'Guardar' %>
<% end %>

