
<%= title "Fotos y vídeos de '#{card.title}'" %>

<%=  render card %>
<div class="actions">
  <%= link_to 'Subir foto', new_admin_card_slide_image_path(card) %>
  <%= link_to 'Reordenar', reorder_admin_card_slide_images_path(card), method: :post %>
</div>
<%= render 'index' %>
