<% title 'proyectos' %>

<div id="wrapper" data-scrollTime="<%= @scroll_time %>">
  <div id="grid">
    <div id="content">
      <% @cards.each do |card| %>
          <% if card.displayable? %>
              <%= pinta_card(card) %>
              <%= pinta_milestones(card) %>
          <% end %>
      <% end %>
      <div id="preview" style="display: none">&nbsp;</div>
      <div id="loading" style="display: none">
        <div id="spinner"></div>
      </div>
    </div>
  </div>
</div>
<div id="tags-bar">
  <ul id="tags" style="">
    <% @tags.each do |tag| %>
        <%= content_tag_for :li, tag, data: {card_ids: tag_ids(tag)} do %>
            <a id="tag-<%= tag.id %>" class="tag tag-link" href="#" style="color: <%= "##{tag.color.value}" %>;"><%= tag.name %></a>
            <label id="ind-<%= tag.id %>" class="tag-indicator tag-link"
                   style="color: <%= "##{tag.color.value}" %>; border-color: <%= "##{tag.color.value}" %>">
              <%= tag.name %>
            </label>
        <% end %>
    <% end %>
  </ul>
</div>



