<%= div_for card do %>
    <div class="actions">
      <%= (link_to 'Borrar esta ficha', [:admin, card], :method => 'delete',
                   :confirm => "Estás a punto de borrar la ficha '#{card.title}' ¿Estás segura?") unless card.id == 1 %>
      <%= action_separator %>
      <%= link_to raw('&larr; Volver a la lista de fichas'), admin_cards_path %>
      <%= link_to 'Ver esta ficha en la web', "/#{card.url}" %>
    </div>

    <ul class="tabs">
      <%= li_link_to_unless_current 'General', edit_admin_card_path(card) %>
      <%= li_link_to_unless_current 'Fotos / Vídeos', admin_card_slide_images_path(card) %>
      <%= li_link_to_unless_current 'Ficheros', admin_card_card_files_path(card) %>
      <%= li_link_to_unless_current 'Seleccion', admin_card_selections_path(card) %>
      <%= li_link_to_unless_current 'Actual', admin_card_posts_path(card) %>
    </ul>
<% end %>
