<%= div_for card do %>
    <div class="actions">
      <%= link_to raw('&larr; Volver a la lista de fichas'), admin_cards_path %>
      <%= link_to 'Ver esta ficha en la web', "/#{card.slug}" %>
      <%= link_to 'Borrar esta ficha', [:admin, card], class: 'delete', method: :delete,
                  :confirm => "Estás a punto de borrar la ficha '#{card.title}' ¿Estás segura? ¡no se puede deshacer!" unless card.id == 1 %>

    </div>

    <% unless card.new_record? %>
        <ul class="tabs">
          <%= li_link_to_unless_current 'General', edit_admin_card_path(card) %>
          <%= li_link_to_unless_current 'Fotos / Vídeos', admin_card_slide_images_path(card) %>
          <%= li_link_to_unless_current 'Ficheros', admin_card_pan_files_path(card) %>
        </ul>
    <% end %>
<% end %>
