<%= simple_form_for [:admin, resource] do |form| %>
    <%= form.input :card_id, collection: Card.order('title ASC'), label: 'Enlaza a la ficha' %>
    <%= form.input :date, label: 'Fecha' %>
    <% if resource.file.present? %>
        <div class="current_image">
          <label>Imágen actual:</label>
          <%= image_tag resource.file.url, width: resource.width, height: resource.height %>
          <div class="hint">Puedes sustituir ésta imágen por otra en con el campo de abajo</div>
        </div>
    <% end %>
    <%= form.input :file, as: :file, label: 'Imágen' %>
    <%= form.input :body, as: :text, label: 'Texto' %>
    <%= form.input :row_position, collection: [:Arriba, :Abajo], include_blank: false, label: 'Posición' %>
    <%= form.submit 'Guardar' %>
<% end %>

