
<%= title "Imágenes" %>
<%= paginate @images %>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Mini</th>
    <th>Ficha</th>
    <th>Fichero</th>
  </tr>
  </thead>
  <tbody>
  <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.file? ? image_tag(image.stored.url(:thumb)) : image.stored %></td>
        <td>
          <% image.cards.each do |card| %>
              <%= link_to card.title, [:admin, card] %>
          <% end %>
          <%= image.cards.count %>
        </td>
        <td><%= image.stored_identifier %></td>
      </tr>
  <% end %>
  </tbody>
</table>
