<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="<%= yield :description %>">
    <meta name="author" content="La panadería s.l.c">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>l a p a n a d e r í a : <%= yield :title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="grids">
    <div id="central">
      <div id="playground">
        <a href="/lapanaderia" id="logo">La Panadería</a>
        <%= render 'layouts/social' %>
        <%= render 'layouts/tabs' %>
        <%= yield %>

        <div id="info" style="width: 864px; display: none;">
          <div style="float: right; text-align: right;">
            <a href="mailto:info@despachodepan.com">info@despachodepan.com</a>
            +34-954419305 calle garci-fernandez 20 Bajo 41008 sevillaspain -_-
          </div>
          <div>©2001/08 l a p a n a d e r i a &nbsp; s.c.</div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/ga' %>
  </body>
</html>
